/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--basis-color: #4d3430;
	--kleur-achtergrond: white;
}





/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family:'Helvetica_Neue_light';
	src:
	url('../fonts/HelveticaNeueLight.woff2');
	font-weight:400;
	font-style:normal;
	font-display:fallback;
}

@font-face {
	font-family:'Helvetica_Neue';
	src:
	url('../fonts/helvetica.woff2');
	font-weight:400;
	font-style:normal;
	font-display:fallback;
}



/* jouw code */

/****************/
/* HEADER */
/****************/

/* In de les gedaan*/
body {
	margin: 0;
	font-family:'Helvetica_Neue_light', sans-serif;
	color: var(--basis-color);
	text-transform: uppercase;
	font-size: 1em;
}

header {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-between;

}

header > a{
	width: clamp(6em, 40vw, 12em);
}

header a img { 
	display: block;
	margin: 0 auto;
    width: 100%;
	height: auto;
	align-items: center;
	
}

/* button moet eerst komen in de volgorde, daarom order -1 */
header button {
	order: -1; 
	margin: 1em;
	font-size: 1em;
}

header menu {
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 1em;
	list-style-type: none;
}

header nav.zichtbaar {
	width: 100%;
	border-top: .1em solid var(--basis-color);
}


header nav.zichtbaar ul {
	display: flex;
	justify-content: center;
	gap: 1em;
	list-style-type: none;
	padding: 1em;
	margin: 0;
	
}

header nav.zichtbaar a {
	color: var(--basis-color);
	font-family:'Helvetica_Neue', sans-serif;
}


nav.hamburgermenu {
	position: fixed;
	inset: 0;
	translate: -100%;
}

section:nth-of-type(1) p {
	background-color: var(--basis-color);
	margin: 0;
	padding:1em;
	width:100%;
	text-align:center;
	color: white;
}

/* main section:nth-of-type(6) ul {
/* ul in de 6 e sectie*/	
/* } */

/* Tot hier in de les gedaan*/


/* section:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: nowrap;
} */

/* code voor de carrousel van navigatie*/
header nav {
    display: flex;
    overflow-x: auto;
    list-style: none;
	padding: 0;
	gap: 2em;
}

header nav ul {
	flex-shrink: 0;	
}


/* stijlen van de footer */
footer {
	font-family:'Helvetica_Neue_light', sans-serif;
	color: var(--basis-color);
	text-transform: uppercase;
	font-size: .7em;
	border-top: .1em solid var(--basis-color);
	padding-top: 3em;
}

footer p:nth-of-type(1) {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

footer img{
	width: 25%;
	display: block;
	margin: auto;
	height: auto;
	align-items: center;
	
}

footer > ul {
	list-style-type: none;
 }
 
footer ul li button  {
	 width: 100%; 
	 display: block;
	 background-color: var(--kleur-achtergrond);
	 font-family:'Helvetica_Neue_light', sans-serif;
	 color: var(--basis-color);
	 text-transform: uppercase;
	 border: .1em solid var(--basis-color);
	 text-align: left;
	 padding: .5em;
	 margin-left: -2.6em;
	 cursor: pointer;
 }

 footer ul ul {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--kleur-achtergrond); /* Zorg ervoor dat de achtergrond zichtbaar is */
    color: var(--basis-color); 
}

footer ul li {
    position: relative;
}

footer ul ul li a {
    display: block;
    padding: 0.1em;
    text-decoration: none;
    color: var(--basis-color);
}

footer h2 {
 margin-left: 3em;
 text-align: left;
 padding-left: 0;
}

footer p:nth-of-type(2) {
	margin-left: 3em;
	text-align: left;
}

footer form { 
	display:flex; 
	align-items:center; 
	gap:.5em;
}

footer form input:nth-of-type(1){ 
	padding:.35em;
	width:0; /* reset default width */
	flex-grow:1;
	background-color: var(--kleur-achtergrond);
	border:solid .1em var(--basis-color);
	margin-left: 2em;
}

footer form input:nth-of-type(2){ 
	padding:.35em;
	margin-right: 2em;
	color: var(--kleur-achtergrond);
	background-color: var(--basis-color);
}