/**************/
/* algemenen css */
/**************/



/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/*********************/
/* ROOT, DE KLEUREN */
/*********************/
:root {
	/* hier heb ik geklijk ook de dark mode in verwerkt*/
	color-scheme: light dark;
	--color-black:black;
	--basis-color: light-dark(#452B1A, pink)  ;
	--kleur-achtergrond: light-dark(white, black);
	--kleur-shoppay: #5A31F4;
	--kleur-text-wit: white;
	--kleuropties1: #7F412E;
	--kleuropties2: #C7C8C9;
	--kleuropties3: #F8F2C0;
	--kleuropties4: #7B807C;
	--carrouselbolletje: #BCD1E8;
	--carrouselhover: #280b94; 



}




/****************/
/* FONT EN SIZE */
/****************/
@font-face {
	font-family:'Helvetica_Neue_light';
	src:
	url('../fonts/HelveticaNeueLight.woff2');
	font-style:normal;
	font-display:fallback;
}

@font-face {
	font-family:'Helvetica_Neue';
	src:
	url('../fonts/helvetica.woff2');
	font-style:normal;
	font-display:fallback;
}

/* font sizes per onderdeel */
body {
	margin: 0;
	font-family:'Helvetica_Neue_light', sans-serif;
	color: var(--basis-color);
	text-transform: uppercase;
	font-size: 1em;
}

h2 {
	font-family:'Helvetica_Neue', sans-serif;
	font-size: 1.1em;
	font-weight: 800;
	padding-left: .5em;
	margin-bottom: 0em;
}

h3 {
font-size: 1em;
font-weight: 700;
}

a {
	font-size: 1em;
}




/****************/
/*    HEADER    */
/****************/

/* In de les gedaan*/
header {
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-between;
	/* zorg ervoor de de header boven aan de pagina blijft */
	position: fixed; 
	 /*header is boven aan de pagina  */
	top: 0;           
	width: 100%;
	z-index: 1000;   
	background-color: var(--kleur-achtergrond);
}

/* vw is een andere eenheid dan em */
header > a{
	width: clamp(6em, 32vw, 12em);
}

/* voor het logo van de site */
header a img { 
	display: block;
	margin: 0 auto;
    width: 100%;
	height: auto;
	align-items: center;	
}

/* button voor het menu moet eerst komen in de volgorde, daarom order -1 */
header button {
	order: -1; 
	margin: 1em;
	font-size: 1em;
	width: 1.2em;
	border: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

.hamburgermenu ul { 
	margin:0; 
	margin-top: 8em;
	padding:4em 1em 0;
	list-style:none;
	display:flex;
	flex-direction: column;
	background:var(--kleur-achtergrond);
	color: var(--basis-color);
	
	
	/* JOUW CODE HIER - stap 1 */
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	
	/* JOUW CODE HIER - stap 2 */
   translate:-100% 0%;
	
	/* JOUW CODE HIER - stap 4 */
	transition:translate .3s;
  }

  /* als menu open is */
.hamburgermenu.toonMenu ul {
	/* JOUW CODE HIER - stap 4 */
	translate:0% 0%;
  }

.hamburgermenu ul li {
padding: 0;
margin-top: .3em;

}

.hamburgermenu ul li a {
	color: var(--basis-color);
}

.hamburgermenu ul li button {
	color: var(--basis-color);
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.toonMenu {
	display: block;
  }

/* hierin zitten de zoek button en de cart button */
header menu {
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 1em;
	list-style-type: none;
	
}

/* stijlen van deze twee buttons */
header menu li button {
	border: none;
	background-color: transparent;
	background: none;

}

/* de iconen van de buttons de juiste grootte geven */
header menu li button img {
	width: 1.2em;
}

/* het menu dat werkt als een carrousel */
header nav.zichtbaar {
	width: 100%;
	border-top: .1em solid var(--basis-color);
}

header nav.zichtbaar ul {
	display: flex;
	justify-content: center;
	gap: 1em;
	list-style-type: none;
	padding: 1em;
	padding-top: .3em;
	padding-bottom: .3em;
	margin: 0;
	border-bottom: .1em solid var(--basis-color);

}

header nav.zichtbaar a {
	color: var(--basis-color);
	font-family:'Helvetica_Neue', sans-serif;
}

/* stijlen van de zin over de shipping */
section:nth-of-type(1) p {
	background-color: var(--basis-color);
	margin: 0;
	padding:1em;
	width:100%;
	text-align:center;
	color: var(--kleur-text-wit);
}

/* code voor de carrousel van navigatie*/
header nav {
    display: flex;
    overflow-x: auto;
    list-style: none;
	padding: 0;
	gap: 2em;
}

header nav ul {
	flex-shrink: 0;	
	font-size: 1em;
	line-height: 2em;
	

}

/****************/
/* body */
/****************/
/* zorg er voor de header niet een deel van de pagina overlapt */
 body {
	padding-top: 8em;
}

/****************/
/* FOOTER */
/****************/
footer {
	font-family:'Helvetica_Neue_light', sans-serif;
	color: var(--basis-color);
	text-transform: uppercase;
	font-size: .7em;
	border-top: .1em solid var(--basis-color);
	padding-top: 3em;
} 

/* stijlen van het logo */
footer a img{
	width: 25%;
	display: block;
	margin: auto;
	height: auto;
	align-items: center;	
}

/* stijlen van het email adress */
footer p:nth-of-type(1) {
	text-align: center;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

footer section{
	display: flex;
	justify-content: center;	
}

footer section ul {
	list-style-type: none;
	width: 40%;
	display: flex;
	padding: 0
}

footer section ul li img {
width: 80% ;
}

/* dropdown menu */
/* // https://www.w3schools.com/howto/howto_js_dropdown.asp bron voor de dropdown/ */
footer > ul {
	list-style-type: none;
	padding: 0em;
	position: relative;
	display: inline-block;
	width: 100%;
}

 /* stijlen van de buttons in het dropdown menu */
footer ul li button  {
	width: 100%; 
	display: block;
	background-color: var(--kleur-achtergrond);
	font-family:'Helvetica_Neue_light', sans-serif;
	color: var(--basis-color);
	text-transform: uppercase;
	border-bottom: .1em solid var(--basis-color);
	border-left: none;
	border-right: none;
	text-align: left;
	padding: .5em;
	margin: 0em;
	/* krijg je een handje te zien ipv een muis icoon */
	cursor: pointer;
 }

 /* de ul die onder de button komt, de inhoud van de button*/
 footer ul ul {
    display: none;
    position: absolute;
	width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--kleur-achtergrond); /* Zorg ervoor dat de achtergrond zichtbaar is */
    color: var(--basis-color); 
}

footer ul ul li a {
    display: block;
    padding: 0.4em;
    text-decoration: none;
    color: var(--basis-color);
}

/* titel van het fomulier */
footer h2 {
 margin-left: 3em;
 text-align: left;
 padding-left: 0;
}

/* zin boven het fomulier */
footer p:nth-of-type(2) {
	margin-left: 3.2em;
	text-align: left;
}

/* het formulier */
footer form { 
	display:flex; 
	/* align-items:center;  */
	justify-content: center;
	gap:.5em;
}

footer form input:nth-of-type(1){ 
	padding:.35em;
	/* invoerveld zelf heeft geen breedte, 
	de flex grow zorgt ervoor dat het invoerveld meeschaalt en alle breedte gebruikt */
	width: 0; 
	flex-grow:1;
	background-color: var(--kleur-achtergrond);
	border:solid .1em var(--basis-color);
	margin-left: 1em;
}

/* het kleiner worden can het invoerveld bij een grotere width */
@media (width > 45em) {
	footer form input:nth-of-type(1){
		width: 12em;
		flex-grow: 0;
	}
}

/* join button bij fomulier */
footer form button{ 
	padding:.35em;
	margin-right: 2em;
	background-color: var(--basis-color);
	color: var(--kleur-text-wit);

}

/* nude project met copyright logo */
footer p:nth-last-of-type(1){
	color: var(--kleur-text-wit);
	background-color: var(--basis-color);
	display: flex;
	justify-content: center;
	padding: 1.9em;
	margin-bottom: 0;
	margin-top: 7em;
	font-size: .8em;
}

/* woorden/zinnen die niet te zien zijn, 
maar wel handig zijn voor ee screenreader
hiermee word deze content verborgen voor het oog, 
maar niet overgeslagen door de screen reader */
/* bron, https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
  }