/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--color-header-p: rgb(131, 67, 51);
}





/****************/
/* JOUW STYLING */
/****************/

@font-face {
	font-family:'Helvetica_Neue';
	src:
	url('https://nude-project.com/cdn/shop/files/HelveticaNeueLight.woff2?v=4978433534137394268');
	font-weight:700;
	font-style:normal;
	font-display:fallback;
}

/* jouw code */

/****************/
/* HEADER */
/****************/

/* In de les gedaan*/
body {
	margin: 0;
}

header {
	font-family:'Helvetica_Neue';
	text-transform: uppercase;
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	justify-content: space-between;

}

header > a{
	width: clamp(6em, 20vw, 12em);
}

header a img { 
	display: block;
	margin: 0 auto;
    width: 100%;
	height: auto;
	align-items: center;
	
}

/* button moet eerst komen in de volgorde, daarom order -1 */
header button {
	order: -1; 
	margin: 1em;
	font-size: 1em;
}

header menu {
	display: flex;
	gap: 1em;
	margin: 0;
	padding: 1em;
	list-style-type: none;
}

header nav.zichtbaar {
	width: 100%;
}


header nav.zichtbaar ul {
	display: flex;
	justify-content: center;
	gap: 1em;
	list-style-type: none;
	padding: 1em;
	margin: 0;
}


nav.hamburgermenu {
	position: fixed;
	inset: 0;
	translate: -100%;
}

p{
	background-color: var(--color-header-p);
	margin: 0;
	padding:1em;
	width:100%;
	text-align:center;
	color: white;
}

/* Tot hier in de les gedaan*/


/* section:nth-of-type(1) {
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: nowrap;
} */

/* code voor de carrousel van navigatie*/
header nav {
    display: flex;
    overflow-x: auto;
    list-style: none;
	padding: 0;
	gap: 2em;
}

header nav ul {
	flex-shrink: 0;	
}

